body{
    font-family: 'Quattrocento Sans', sans-serif;
}
#contact-header{
    font-family: 'Paytone One', sans-serif;
    color: lightcoral !important;
}
hr{
    background-color: lightgray;
}
.contact-info{
    color: lightgray;
    font-size: 18px;
}
/* contact buttons */
.contact-link{
    margin: 5px 10px 5px 10px;
    padding: 0px 5px 0px 5px;
    color: black;
    background: none;
    border: 1px solid black;

}
.contact-link:hover{
    border: 1px solid salmon;
}
.jumbotron{
    background: black;
    margin-top: 5px;
    margin-bottom: 0;
}
/* jumbotron header */
#jumbo-header{
    font-family: 'Paytone One', sans-serif;
    color:white;
}
/* jumbotron text */
.lead{
    color: white;
}
.portfolio-filter{
    margin: 5px 0 5px 0;
    background-color: fuchsia;
    padding: 10px;
}
.filter-icon{
    color: white;
}
.card{
    text-align: center;
}
.card-title{
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Fugaz One', cursive;
    color: salmon;
    font-size: 24px;
}
.card-title:hover{
    font-size: 26px;
}
a{
    text-decoration: none !important;
}
.github-link{
    margin-bottom: 6px;
    color: rgb(92, 91, 91);
    background: none;
    border: 1px solid rgb(92, 91, 91);
}
.github-link:hover{
    border: 1px solid salmon;
}
.icon{
    padding: 0px 10px 20px 10px;
    width: 60px;
}
