body{
    background-image: url(/assets/images/footer_lodyas.png);
    background-color: #808f85;
    font-family: 'Quattrocento Sans', sans-serif;
}





/* contact header */
/* navbar at top */
.navbar-light{
    background-color: #3c3c3c !important;
}
hr{
    background-color: #cfd11a;
}
.contact-info{
    font-size: 18px;
}
.btn-link{
    color: white;
}
/* initals */
.navbar-brand{
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    color: white !important;
}
/* contact buttons */

.btn-link:hover{
    text-emphasis: none;
}





/* jumbortron */
.jumbotron{
    margin-bottom: 0;
    /* background-color: #f2e9dc; */
    
}
/* jumbotron header */
#jumbo-header{
    font-weight: bolder;
    color: #3c3c3c;
}
.hello{
    font-size: 100px;
    font-family: 'Paytone One', sans-serif;
     text-shadow: #cfd11a 3px 3px; 
}
/* jumbotron text */
.lead{
}
/* .semicircle{
    background-color: #FEB249;
    float: right;
    height: 200px;
    width: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
} */
.rectangle{
    height: 3px;
    width: 430px;
    float: left;
    /* background-color: #91ca99; */
    background-color: #cfd11a;
}




/* portfolio filer bar */
.portfolio-filter{
    margin: 5px 0 5px 0;
    padding: 10px;
}
.filter-icon{
}
.filter-icon:hover{
}




/* main container */
.main{
    padding: 10px;
    margin-top: 10px;
    /* background-color: white; */

}




/* cards for every project */
.card{
    border: none;
}
.img-thumbnail{
    border: none;
    padding-top: 30px;
    padding-right: 30px;
}
/* created date on card */
.text-muted{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
/* title of card */
.card-title{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
/* github/export/heroku links */
.card-link{
    padding-right: 20px;
    width: 60px;
}
.card-link:hover{
    transform: scale(1.2);
}

a:hover{
    text-decoration: none;
}
/* buttons */
.btn-primary{
    font-size: 16px;
}
/* link buttons */
.link{
background-color: none;
margin: 0 15px 0 15px;
}
@media only screen and (max-width: 650px){
    .link{
        margin: 0;
    }
}
.link:hover{
    font-weight: bold;
    text-decoration: none;
}





/* bottom footer */
#footer-body{
    text-align: center;
}
#footer-header{
    border-top: 1px solid #3c3c3c;
    background-color: #3c3c3c;
}
blockquote{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
.created-by{
    font-size: 12px;
}
.technologies-title{
    text-decoration: underline;
    text-transform: capitalize;
}
/* icons */
.icon{
    padding: 0px 10px 20px 10px;
    size: 50px;
}






/* form */

.contact-container{
}
.form-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.form-text{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
form{
    padding: 20px;
}
input{
    width: 100%;
    border: none;
}
::placeholder{
    color: #3c3c3c;
}

input:focus{
    outline-width: 0;
}






/* modal styling */
.modal{
    text-align: center;
    overflow: auto;
}