body{
    background-image: url(/assets/images/topography.png);
    font-family: 'Quattrocento Sans', sans-serif;
    color: #2D2A32;
}
/* contact header */

hr{
    background-color: lightgray;
}
.contact-info{
    color: lightgray;
    font-size: 18px;
}
/* initals */
.navbar-brand{
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    color: #002447 !important;
}
/* contact buttons */

.contact-link:hover{
    text-emphasis: none;
}
/* jumbortron */
.jumbotron{
    /* background-image: url(/assets/images/topography.png); */
    background-color: #FBECEB;

    margin-bottom: 0;
}
/* jumbotron header */
#jumbo-header{
    color: #002447;
    font-weight: bolder;
}
.hello{
    font-size: 100px;
    font-family: 'Paytone One', sans-serif;
    text-shadow:#85D6CB 3px 3px;
}
/* jumbotron text */
.lead{
    color: #002447;
}
.semicircle{
    background-color: #FEB249;
    float: right;
    height: 200px;
    width: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
}
.rectangle{
    height: 10px;
    width: 430px;
    float: left;
    background-color: #002447;
}
/* portfolio filer bar */
.portfolio-filter{
    margin: 5px 0 5px 0;
    /* background-color: #73D6CC; */
    background-color:#85D6CB;
    padding: 10px;
}
.filter-icon{
    color: white;
}
.filter-icon:hover{
    color: #2D2A32;
}
/* main container */
.main{
    /* background-color: #FEB249; */
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
/* cards for every project */
.card{
    border: none;
}
.img-thumbnail{
    border: none;
    padding: 10px;
}
/* created date on card */
.text-muted{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
/* title of card */
.card-title{
    color: #2D2A32;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

a:hover{
    text-decoration: none;
}
/* buttons */
.btn-primary{
    /* background-color: #21A0A0 !important; */
    border: #23a8a8;
    background-image: radial-gradient(#2abdbd, #24abab,#23a8a8);
    font-size: 16px;
}
/* link buttons */
.link{
color: #2D2A32;
background-color: none;
margin: 0 15px 0 15px;
}
@media only screen and (max-width: 650px){
    .link{
        margin: 0;
    }
}
.link:hover{
    font-weight: bold;
    color: #2D2A32;
    text-decoration: none;
}
/* portfolio buttons */
.btn-sm{
}

/* bottom footer */
#footer-body{
    text-align: center;
}
#footer-header{
    background-color: #FBECEB;
    border-top: 1px solid lightgray;
}
blockquote{
    color: #002447;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
.created-by{
    font-size: 12px;
}
/* icons */
.icon{
    padding: 0px 10px 20px 10px;
    color: #2D2A32;
    size: 50px;
}

/* form */
.form-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.form-text{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
form{
    padding: 20px;
    background-color: lightgrey;
}
input{
    background-color: lightgray;
    width: 100%;
    border: none;
}
input:focus{
    outline-width: 0;
}

/* modal styling */
.modal{
    text-align: center;
    overflow: auto;
}
.modal-dialog{
    width: auto;
    margin: 20px auto;
}